.menu-perspective{
	@media (min-width:$screen-sm){
		-webkit-perspective: 1500px;
		perspective: 1500px;
		position:fixed;
		top:0;
		bottom:0;
		right:0;
		width:300px;
		background: $black;
		transition: background .5s 3s;
		z-index:-20;

		.menu-open &{
			z-index:0;
		}

		.no-csstransforms3d .menu-open &{
			z-index:3000;
			background:none;
		}

		body.js-hide &{
			background: $white;
		}
	}
}

.menu-btn{
	font-family: $font-family-sans-serif;
	display: block;
	background: none;
	padding:10px 20px;
	-webkit-transition:right .5s;
	transition:right .5s;
	cursor:pointer;
	color:$grey-darkest;
	@include rem('font-size',14px);
	text-transform: uppercase;
	font-weight:normal;
	position: absolute;
	top: 8px;
	right: 0;
	border:0;

	&:hover{
		text-decoration: none;
		color: $black;
	}

	@media (min-width:$screen-sm){
		background: $white;
		position: absolute;
		top:55px;
		right:0;
		-webkit-transition:right .5s;
		transition:right .5s;
		z-index: 100;
		
		.js &.js-hide{
			right:-150px;
		}

		.top-header-dropdown &{
			top: 20px;
			background: none;
		}
	}
}

.menu-btn-icon {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin-bottom:3px;
	margin-left: 15px;

	&,
	&:before,
	&:after {
		width: 15px;
		height: 3px;
		border-radius: 3px;
		background: $grey-darkest;

		a:hover &{
			background: $blue;
		}
	}

	&:before,
	&:after {
		position:absolute;
		left: 0;
		right: 0;
		content: "";
	}

	&:before {
		top:-5px;
	}

	&:after {
		bottom:-5px;
	}
}

.menu-btn-text{
	display:none;
	@media (min-width:$screen-sm){
		display: inline;
	}
}

.menu {
	@include clearfix();
	background:$grey-dark;
	@include rem('font-size', 16px);
	color: $grey-light;
	font-family: $font-family-sans-serif;
	text-transform: uppercase;
	padding: 0 30px;
	overflow:hidden;
	z-index:0;

		position:fixed;
		right:0;
		top:0;
		bottom:0;
		width:220px;
		display: block;
		box-shadow: inset 0 0 22px rgba($black, .5);
		opacity:0;
		padding-top: 30px;

		-webkit-transition:-webkit-transform .5s, opacity 1s .1s;
		transition: transform .5s, opacity 1s .1s;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		-webkit-transform-origin: 0 50%;
		transform-origin: 0 50%;

		.close{
			font-size:20px;
			color:$grey;
			display: block;
			cursor: pointer;
			position: absolute;
			top: 10px;
			right:10px;
			width:30px;
			text-align: center;
		}

		a{
			color:$grey;
			transition:color .2s;
		}

		.lt-ie9 &{
			display: none;
		}

		@media (min-width: $screen-sm){
			width:300px;
			-webkit-transition:all .5s;
			transition: all .5s;
			-webkit-transform: translate3d(100%, 0, 0) rotateY(90deg);
			transform: translate3d(100%, 0, 0) rotateY(90deg);
		}

		.menu-open &{
			visibility: visible;
			opacity: 1;
			-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
			-webkit-transition:-webkit-transform .4s;
			transition:transform .4s;
			z-index:0;

			.lt-ie9 &{
				display: block;
			}

			@media (min-width: $screen-sm){
				-webkit-transform: translate3d(0, 0, 0) rotateY(0deg);
				transform: translate3d(0, 0, 0) rotateY(0deg);
			}

			.no-csstransforms3d &{
				z-index: 20000;
			}

			
		}

		&:after{
			position:absolute;
			top:0;
			right:0;
			width: 100%;
			height: 100%;
			background: rgba(black, .2);
			content: "";
			opacity: 1;
			-webkit-transition: opacity 0.5s;
			transition: opacity 0.5s;

			.menu-open &{
				opacity: 0;
				width:0;
				height:0;			
			}
		}

	ul{
		padding:0;
		margin:0;
		list-style-type: none;
		li{
			margin: 0 0 10px;
		}
		
		&:first-child{
			margin-top: 10px;
		}
	}

	a {
		display: block;
		&:hover{
			color:$white;
			text-decoration: none;
		}
		&:focus{
			color:$white;
		}
	}
}

.menu-creativity{
	background:$grey-darker;
	color: $white;
	border-top: 1px solid $grey-medium-dark;
	border-bottom: 1px solid $grey-medium-dark;
	margin: 0 -30px 10px;
	padding: 10px 30px 0;
	font-family: $font-family-sans-serif;

	
	a{
		color:$grey;
		transition:color .2s;

		&:hover{
			text-decoration: none;
		}
	}

	h1{
		font-size: inherit;
		font-family: $font-family-serif-italic;
		text-transform: lowercase;
		margin:0;
		@include rem('font-size', 18px);
	}

	.top-header-dropdown & {
		display: none;

		@media (min-width:$screen-sm){
				display: block;
				overflow: hidden;
				text-transform: uppercase;
				margin:0;
				padding:0;
				border:0;
				-webkit-transition: max-height .3s;
				-webkit-transform-origin: 0 0;
				transform-origin: 0 0;
				opacity: 1;
				-webkit-transform: rotateX(0deg);
				transform: rotateX(0deg);
				-webkit-transition: -webkit-transform .3s;
				transition: transform .3s;

				.js &.js-hide {
					opacity: 0;
					-webkit-transition: -webkit-transform .3s, opacity .3s .1s;
					-webkit-transform: rotateX(-90deg);
					transition: transform .3s, opacity .3s .1s;
					transform: rotateX(-90deg);
				}

				ul{
					margin:0;
					padding:0;
				}
				li{
					display: table-cell;
					width: 1%;
					text-align: center;
					padding:15px 0;
					vertical-align: middle;
					border-left:1px solid $grey-medium-dark;
					a:hover{
						color: $white;
					}
				}
				h1{
					padding:0;
				}
		}
	}
}

.menu-pusher {
		position:relative;
		height:100%;
		-webkit-transition: -webkit-transform 0.5s;
		transition: transform 0.5s;
		-webkit-transform-origin: 0% 50%;
		transform-origin: 0% 50%;


		.menu-open & {
			-webkit-transform: translate3d(-220px, 0, 0);
			transform: translate3d(-220px, 0, 0);

			@media(min-width:$screen-sm){
				-webkit-transform: translate3d(-300px, 0, 0);
				transform: translate3d(-300px, 0, 0);
			}
		}


		&:after{
		position:absolute;
		top:0;
		right:0;
		background: rgba(black, .4);
		opacity: 0;
		-webkit-transition: opacity 0.5s;
		transition: opacity 0.5s;
		content: " ";
		z-index:2000;

			.menu-open &{
				-webkit-transition: opacity 0.5s;
				transition: opacity 0.5s;
				bottom:0;
				left:0;
				opacity: 1;
			}
		}
	@media (min-width:$screen-sm){

	}
}

.menu-pageContent {
	@include clearfix();
	background: $white;
	min-height: 100%;
	width:100%;
	@media (min-width:$screen-sm){
		padding-top: 152px;
	}
	z-index:-15;
}

//NO JS menu
.no-js{
	.close{
		display: none;
	}
	.menu-perspective{
		position:static;
		width:auto;

		.menu-btn{
			display: none;
		}

		.menu{
			-webkit-transform: none;
			transform: none;
			width: auto;
			position:static;
			opacity: 1;
			padding:0;
			text-align:center;

			ul{
				margin:0;
				padding:0;
				display: inline-block;

				li{
					display: inline-block;
					margin:10px 0;
					padding:0 10px;
					border-right:1px solid $grey;
				}
			}

			.menu-creativity{
				display: inline-block;
				margin:0;
				padding:0;

				li{
					display:none;
					&:first-child{
						display: block;
					}
				}
			}
		}
	}
}